{% extends "paddock/base.html" %}
{% load url from future %}

{% block title %} Racerslane: Sign Up {% endblock %}

{% block nav_login %}{% endblock nav_login %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="span5">
          <form method="post" action="{% url 'django.contrib.auth.views.login' %}" class="form-horizontal"> {% csrf_token %}
          {{ form }}
          <div class="form-actions">
            <button type="submit" class="btn btn-primary">Login</button>
          </div>
          <input type="hidden" name="next" value="{{ next }}" /> 
        </form>
        
      </div><!-- /span12 --> 
    </div><!-- /row --> 
  </div><!-- /container -->  
{% endblock content %}