{% extends "paddock/base.html" %}
{% block title %} Racerslane: Clubs {% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="span12">
        <h1> Autocross Clubs </h1>
        <div class="tabbable tabs-left"> 
          <ul class="nav nav-tabs">
            {% for club in clubs %}
                <li
                {% if forloop.first %}
                    class="active"
                {% endif %}                      
                ><a href="#{{ club.safe_name }}" data-toggle="tab">{{ club.name }}</a></li>
            {% endfor %}
          </ul>
          <div class="tab-content">
            {% for club in clubs %}
              <div class="tab-pane {% if forloop.first %}active{% endif %}" id="{{ club.safe_name }}">
                <div class="span4">
                  {% for season in club.sorted_seasons %}
                    {% if not forloop.first %} </br> {% endif %}
                    <h3> {{ season.year }} </h3>
                     <table class="table table-striped">
                    {% for event in season.upcomming_events %}
                        <tr style="width: 100%">
                          <td style="width: 70%"> {{ event.name }}</td>
                          <td style="width: 30%"> {{ event.date }}</td>
                        </tr>
                    {% endfor %}
                    </table>
                  {% endfor %}  
                </div>  <!-- close span12 -->
              </div>  <!-- close tab-pane -->
            {% endfor %}  
          </div>
        </div>
      
    </div><!-- /span12 --> 
  </div><!-- /row --> 
</div><!-- /container -->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ STATIC_URL }}/jquery.js"></script>
<script src="{{ STATIC_URL }}bootstrap/js/bootstrap-tab.js"></script>
{% endblock content%}
