{% extends "paddock/base.html" %}
{% load url from future %}
{% load easy_maps_tags %}
{% load paddock_tags %}

{% block title %} Racerslane: {{ club.name }} {{ event.name }} {% endblock %}

{% block content %} 

<div class="row"> 
  <div class="span12">
      <h1> {{ club.name }} : {{ event.name }} </h1>
  </div> <!--/span12-->
</div> <!--/row-->

<div class="row">
  <div class="span6">
    <h2> Event Info:  </h2>
    <p><ul class="unstyled"> 
      <li>Date: {{ event.date }} </li>
      <li> Cost: &#36; {{ event.member_price }} (members),  
      &#36; {{ event.non_member_price }} (non-members) </li>
      <li> &#36; {{event.non_pre_pay_penalty }} extra if you don't pre-register</li>
    </ul></p>
    <p><ul class="unstyled"> 
      <li>{{ reg_count }} drivers raced</li>
      <li>{{ top_pax_reg.first_name }} {{ top_pax_reg.last_name }} had the fastest index time of 
      {{ top_pax_reg.total_index_time|floatformat:3}} seconds</li>
      <li>{{ top_raw_reg.first_name }} {{ top_raw_reg.last_name }} had the fastest raw time of 
      {{ top_raw_reg.total_raw_time|floatformat:3}} seconds</li>
    </ul></p>
    
  </div> <!--/span6"-->
  <div class="span6">
      {%easy_map event.location.address 400 300 13%}
      <p>This event was held at <strong>{{ event.location.name }}</strong></p>
      <p>{{ event.location.address }}</p>
  </div><!--/span6-->
</div> <!--/row -->

<div class="row">
  <div class="span12" style="height:25px">
  </div><!--/span12-->
</div> <!--/row-->

<div class="row">
  <div class="span12">
    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#class_results" data-toggle="tab">Class Results</a></li>
        <li><a href="#pax_results" data-toggle="tab">PAX Results</a></li>
        <li><a href="#season_points" data-toggle="tab">Season Points</a></li>
      </ul><!--/nav-tabs-->
      <div class="tab-content">
        <div class="tab-pane active" id="class_results">
            {% for pax_class,reg_set in reg_sets.iteritems %}
              <h3> {{ pax_class.name|default:"Open Class" }} </h3>
              {% if pax_class %}
                {% result_table reg_set table_class="class_results" %}
              {% else %}
                {% for race_class,class_set in reg_set.iteritems %}
                  {% result_table class_set table_class="class_results" %}
                {% endfor%}
              {% endif %}
            {% endfor %}  
        </div><!--/tab-pane-->
        <div class="tab-pane" id="pax_results">
            {% result_table regs table_class="pax_results" pax=1 %}
        </div><!--/tab-pane-->
        <div class="tab-pane" id="season_points">
        </div><!--/tab-pane-->
      </div><!--/tab-content-->
    </div><!--/tabbable-->
  </div> <!--/span12-->
</div><!--/row -->
{% endblock content %}

{% block foot_js %}
   <script>
   $(function() {
    $('.result_row').click(function(){
      $(this).next().children().toggle();
    });  
  });
  </script>
{% endblock foot_js%}