{% extends "paddock/base.html" %}

{% block title %} Racerslane: {{ club.name }} {{ event.name }} {% endblock %}

{% block content %} 

<div class="span12">

  <h1> {{ club.name }} : {{ event.name }} </h1>
  
  <h2> Event Info:  </h2>
  <ul class="unstyled"> 
    <li>Date: {{ event.date }} </li>
    <li> Cost: &#36; {{ event.member_price }} (members),  
    &#36; {{ event.non_member_price }} (non-members) </li>
    <li> &#36; {{event.non_pre_pay_penalty }} extra if you don't pre-register</li>
  </ul>
  <h3>Login to register for the event</h3>
</div> <!--/span12" -->

{% endblock content %}