{% extends "paddock/base.html" %}
{% load url from future %}
{% load easy_maps_tags %}

{% block title %} Racerslane: {{ club.name }} {{ event.name }} {% endblock %}

{% block content %} 

<div class="row"> 
  <div class="span12">
      <h1> {{ club.name }} : {{ event.name }} </h1>
  </div> <!--/span12-->
</div> <!--/row-->

<div class="row">
  <div class="span6">
    <h2> Event Info:  </h2>
    <p><ul class="unstyled"> 
      <li>Date: {{ event.date }} </li>
      <li> Cost: &#36; {{ event.member_price }} (members),  
      &#36; {{ event.non_member_price }} (non-members) </li>
      <li> &#36; {{event.non_pre_pay_penalty }} extra if you don't pre-register</li>
    </ul></p>
    {% url 'paddock.views.event_register' club.safe_name season.year event.safe_name as reg_url%}
    {% if user.is_authenticated %}
      <h3><a href="{{ reg_url }}">Register for the event </a></h3>
    {% else %}
      <h3><a href="{% url 'paddock.views.login' %}&next={{reg_url}}">Login</a>
      to register for the event</h3>
    {% endif%}  
  </div> <!--/span6"-->
  <div class="span6">
      {%easy_map event.location.address 400 300 13%}
      <p>This event will be held at <strong>{{ event.location.name }}</strong></p>
      <p>{{ event.location.address }}</p>
  </div><!--/span6-->
</div> <!--/row -->

<div class="row">
  <div class="span12" style="height:25px">
  </div><!--/span12-->
</div> <!--/row-->

<div class="row">
  <div class="span12">
      {% with event.regs.all as regs %}
        <h3> Registrations: {{ regs.count }} drivers</h3>
        <table class="table table-striped table-bordered">
          <thead> <tr style="width: 100%"> 
            <th>Name</th><th>Car</th><th>Class</th><th>#</th> 
          </tr> </thead>
          {% for reg in regs %}
              <tr style="width: 100%">
                <td>{{ reg.first_name }} {{ reg.last_name }}</td>
                <td>{{ reg.car_name }}</td>
                <td>{{ reg.race_class.name }}</td>
                <td>{{ reg.number }}</td>
              </tr>
          {% endfor %} <!--close event loop -->
        </table>
      {% endwith %}  
  </div> <!--/span12-->
</div><!--/row -->

{% endblock content %}