{% extends "paddock/base.html" %}
{% load url from future %}
{% load paddock_tags %}

{%block head_css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}garage.css">
{%endblock head_css%}

{% block foot_js %}
  <script src="{{STATIC_URL}}jquery.js"></script>
  <script src="{{STATIC_URL}}underscore-min.js"></script>
  <script src="{{STATIC_URL}}backbone-min.js"></script>
  <script src="{{STATIC_URL}}handlebars-1.0.0.beta6.js"></script>

  <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-tooltip.js"></script>
  <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-popover.js"></script>
  <script src="{{ STATIC_URL }}DataTables-1.9.1/media/js/jquery.dataTables.min.js"></script>
  <script src="{{ STATIC_URL }}DT_bootstrap.js"></script>
    
  <script src="{{STATIC_URL}}paddock.js"></script>
  <script src="{{STATIC_URL}}garage.js"></script>
{% endblock foot_js %}

{% block content %}
  {% verbatim %}
    <script type="text/x-handlebars" id="user_template">
        <ul class="unstyled">
          <li>First Name: {{ first_name }}</li>
          <li>Last Name: {{ last_name }}</li>
          <li>Email Address: {{ email }} </li>
        </ul>
    </script>
  {% endverbatim %}

  <div class="row">
    <div class="span6">
      <div class="row">
        <div class="span6" id="user_info">
            <h2> Your Information </h2>
            
        </div><!--/span6-->
      </div><!--/row-->  
      <div class="row">
        <div class="span6" id="cars_table">
            <h2> Your Cars </h2>
        </div><!--/span6-->
      </div><!--/row-->   
    </div><!--/span6-->
    <div class="span6">
      <div class="row">
        <div class="span6">
          <h2>Your Coupons</h2>
          <table class="table table-striped table-bordered" id="coupons_table">
          </table>
        </div><!--/span6-->
      </div><!--/row--> 
      <div class="row">
        <div class="span6">
          <h2>Your Events</h2>
          <ul class="unstyled" id="events_list">
          </ul>
        </div><!--/span6-->
      </div><!--/row--> 
    </div><!--/span6-->

  </div><!--/row-->   
{% endblock content %}