<table class="table table-striped table-bordered" 
{% if table_id %}
    id="{{table_id}}"
{% endif %}>
  <thead> <tr style="width: 100%"> 
    <th>First Name</th><th>Last Name</th><th>Car</th><th>Class</th><th>#</th> 
  </tr> </thead>
  {% for reg in regs %}
    <tr style="width: 100%">
      <td>{{ reg.first_name }}</td>
      <td>{{ reg.last_name }}</td>
      <td>{{ reg.car_name }}</td>
      <td>{{ reg.race_class.name }}</td>
      <td>{{ reg.number }}</td>
    </tr>
  {% endfor %} <!--close event loop -->
</table>