{% extends "paddock/base.html" %}
{% load url from future %}
{% load easy_maps_tags %}
{% load paddock_tags%}

{% block title %} Racerslane: {{ club.name }} {{ event.name }} {% endblock %}

{% block head_css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}DT_bootstrap.css">
{% endblock head_css %}

{% block foot_js %}
<script src="{{ STATIC_URL }}bootstrap/js/bootstrap-tooltip.js"></script>
<script src="{{ STATIC_URL }}bootstrap/js/bootstrap-popover.js"></script>
<script src="{{ STATIC_URL }}DataTables-1.9.1/media/js/jquery.dataTables.min.js"></script>
<script src="{{ STATIC_URL }}DT_bootstrap.js"></script>
<script type="text/javascript" charset="utf-8">
  /* Table initialisation */
  $(document).ready(function() {
      $('.avatar_pic').popover( {
          "content": function(){
	      var img_href = $(this).attr('href')
              return '<img src="'+img_href+'"/>'
	  }
      });
      $('.reg_table').dataTable( {
	  "sPaginationType": "bootstrap",
	  "bPaginate": false,
	  "aaSorting": [[0,'asc']],
	  "aoColumns": [{ "sType": "name"},
		        { "bSortable": false},
			{ "aDataSort": [ 2, 3] },
			{ "aDataSort": [ 3, 2] },
		      ],
	  "oLanguage": {
	      "sInfo": ""
	  }	      
		      
      } );
  } );
</script>
{% endblock foot_js%}

{% block content %} 

<div class="row"> 
  <div class="span12">
      <h1> {{ club.name }} : {{ event.name }} </h1>
  </div> <!--/span12-->
</div> <!--/row-->

<div class="row">
  <div class="span6">
    <h2> Event Info:  </h2>
    <p><ul class="unstyled"> 
      <li>Date: {{ event.date }} </li>
      <li> Cost: &#36; {{ event.member_price }} (members),  
      &#36; {{ event.non_member_price }} (non-members) </li>
      <li> &#36; {{event.non_pre_pay_penalty }} extra if you don't pre-register</li>
    </ul></p>


    
    {% url 'paddock.views.event_register' club.safe_name season.year event.safe_name as reg_url%}
    {% if reg_is_open%}
    <h4>Registration is open until {{ event.reg_close }}</h4>
      {% if is_auth and is_regd %}
	Your Registration
      {% elif is_auth %}
	<h3><a href="{{ reg_url }}">Register for the event </a></h3>
      {% else %}
	<h3><a href="{% url 'paddock.views.login' %}&next={{reg_url}}">Login</a>
	to register for the event</h3>
      {% endif %}
    {% else %}
       <h4>Registration closed on {{ event.reg_close }}</h4>
    {% endif %}  

    
  </div> <!--/span6"-->
  <div class="span6">
      {%easy_map event.location.address 400 300 11 using 'paddock/directions.html'%}
      <p>This event will be held at <strong>{{ event.location.name }}</strong></p>
      <p>{{ event.location.address }}</p>
  </div><!--/span6-->
</div> <!--/row -->

<div class="row">
  <div class="span12" style="height:25px">
  </div><!--/span12-->
</div> <!--/row-->

<div class="row">
  <div class="span12">
    <h2> {{ reg_count }} drivers registered </h2>
    <br/>
    {% for pax_class,reg_set in reg_sets.iteritems %}
       {% if pax_class.name %}
         <h2 class="page-header"> {{pax_class.name }} </h2>
       {% else %}
         <h2 class="page-header"> Open Class </h2>
       {% endif %} 
      {% reg_table reg_set table_class="reg_table"%}
      <br/>
    {% endfor %}  
  </div> <!--/span12-->
</div><!--/row -->
{% endblock content %}