<div ui-modal class="modal hide fade" ng-model="show_event_modal" tabindex="-1" role="dialog">
  <div class="modal-header">
    <h3>{{event_modal_title}}</h3>
  </div>
  <div class="modal-body">
    <form class="form">
        <label>Name</label><input type="text" ng-model="edit_event_target.name">
        <label>Date</label><input ng-model="edit_event_target.date" ui-date>
    </form>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" ng-click="cancel_save_event()">Close</a>
    <a href="#" class="btn btn-primary" ng-click="save_event()">Save changes</a>
  </div>
</div>

<div class="row"><div class="span10">
    <h2> Admin Panel for {{club.name}} </h2>
    <tabs>
        <pane title="Events">
            <div class="row">
                <div class="accordion span6" id="seasons">
                    <div class="accordion-group" ng-repeat="season in club.seasons">
                        <div class="accordion-heading">
                          <a class="accordion-toggle" data-toggle="collapse" data-parent="#seasons" href="#collapse{{$index}}}">
                            {{season.year}}
                          </a>
                        </div>
                        <div id="collapse{{$index}}" class="accordion-body collapse" ng-class="{'in':$first}">
                          <div class="accordion-inner">
                            <table class="table table-bordered table-striped">
                                <thead><tr>
                                    <th>Event</th>
                                    <th>Date</th>
                                    <th style="width:8em;"></th>
                                </tr></thead>
                                <tbody><tr ng-repeat="event in season.events">
                                    <td>{{event.name}}</td>
                                    <td>{{event.date}}</td>
                                    <td>
                                        <button class="btn btn-primary" type="button" ng-click="edit_event(event)">
                                          <i class="icon icon-white icon-edit"></i>
                                        </button>
                                        <button class="btn btn-warning" type="button">
                                          <i class="icon icon-white icon-trash"></i>
                                        </button>
                                    </td>
                                </tr></tbody>
                            </table>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="span3">
                    <ul class="unstyled">
                        <li><button class="btn btn-primary">
                        <i class="icon icon-white icon-plus"></i>
                        New Season
                        </button></li>
                        <li><button class="btn btn-success" ng-click="new_event()">
                        <i class="icon icon-white icon-plus"></i>
                        New Event
                        </button></li>

                </div>
            </div>
        </pane>
        <pane title="Club Info">
            <div class="row">
                <div class="span4"><!--first column-->
                    <div class="row garage-pane">
                        <div class="garage-pane-header">
                            <h3> General </h3>
                        </div>
                        <div class="garage-pane-body">
                            
                        </div>
                    </div>
                    <div class="row garage-pane">
                        <div class="garage-pane-header">
                            <h3> Coupons </h3>
                        </div>
                        <div class="garage-pane-body">
                            
                        </div>
                    </div>
                    <div class="row garage-pane">
                        <div class="garage-pane-header">
                            <h3> Payment Details </h3>
                        </div>
                        <div class="garage-pane-body">
                            
                        </div>
                    </div>
                </div>
                <div class="span5"><!--second column-->
                    <div class="row garage-pane">
                        <div class="garage-pane-header">
                            <h3> Membership </h3>
                        </div>
                        <div class="garage-pane-body">
                            
                        </div>
                    </div>
                </div>
            </div>
        </pane>
        <pane title="Race Setup"></pane>
    </tabs>
</div></div>
