<div class="row">
    <h1> Manage {{event.name}} </h1>
</div>

<div class="row">
    <h2> Sessions </h2>
    <ul class="unstyled"> 
        <li ng-repeat="s in event.sessions">
            <h4>
                {{s.name}} 
                <a class="btn btn-primary btn-mini" ng-click="del_session(s)"><i class="icon-trash icon-white"></i></a>
            </h4>
        </li>
    </ul>
</div>
<div class="row">
    <form action="/garage/event/{{event.id}}/results" method="POST" enctype="multipart/form-data">
        <legend> Add Session </legend>
        <div class="control-group {{upload_status}}">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf}}"/>
            <div class="controls">
                <input type="text" name="name" placeholder="Name">
            </div>
            <div class="controls">
                <input type="file" name="results_file"> 
            </div>
            <div class="controls">
                <button type="submit" class="btn btn-primary btn-small">Submit</button>
            </div>

        </div>
    </form>
    <h2>Results </h2>
</div>
<div class="row" ng-repeat="(name,set) in reg_sets">
    <h3> {{name}} </h3>
    <table class="table table-striped table-bordered table-condense">
        <thead>
            <tr>
                <th>#</th>
                <th>Car</th>
                <th>Driver</th>
                <th>Total Time</th>
                <th>PAX Time</th>
                <th>Class Points</th>
            </tr>
        </thead>
        <tbody ng-repeat="reg in set">
            <tr class="result_row">
                <td rowspan="2"><i ng-class="{'icon-play-circle':!show_results,'icon-download':show_results}" ng-click="show_results=!show_results"></i>{{$index+1}}</td>
                <td>{{reg.number}} {{reg.race_class.name}}</td>
                <td>{{reg.first_name}} {{reg.last_name}}</td>
                <td>{{reg.total_raw_time | number:3}}</td>
                <td>{{reg.total_index_time | number:3}}</td>
                <td>{{reg.class_points}}</td>
            </tr>
            <tr ng-show="show_results">
                <td colspan="5">
                    <ul class="unstyled">
                        <li ng-repeat="result in reg.results">
                            <ul class="inline"> <li>{{result.session}}: </li>
                                <li ng-repeat="run in result.runs" >
                                    <input type="text" ng-model="run.base_time" class="input-mini">
                                    <select ng-model="run.cones" ng-options="n for n in [0,1,2,3,4,5,6,7,8,9,10]" class="input-mini">
                                    </select>
                                    <select ng-model="run.penalty" ng-options="p for p in ['O/C','DNF']" class="input-mini">
                                        <option value="">--</option> 
                                    </select>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</div>