<div class="row">
    <div class="span6"><!--first column-->
        <div class="row garage-pane">
            <div class="garage-pane-header"><h3>Profile</h3></div>
            <form class="form-horizontal">
                <div class="control-group">
                    <label class="control-label" for="firstname">First Name</label>
                    <div class="controls">
                      <input type="text" ng-model="profile.user.first_name">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="lastname">Last Name</label>
                    <div class="controls">
                      <input type="text" ng-model="profile.user.last_name">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="email">email</label>
                    <div class="controls">
                      <input type="text" ng-model="profile.user.email">
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" ng-click="save_user()" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </form> 
        </div> 

        <div class="row garage-pane">
            <div class="garage-pane-header">
                <h3>Cars <button role="button" class="btn btn-success" ng-click="new_car()"><i class="icon-white icon-plus"></i></a></h3>
            </div>
            <div class="garage-pane-body">
                <table class="table table-striped">
                    <thead>
                        <tr><th>Nickname</th><th>Car</th><th></th></tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="car in profile.cars">
                            <td>{{car.name}} <avatar-popover ui-if="car.thumb" ng-ref="car.thumb" ng-data-title="car.name"></avatar-popover></td><td>{{car.year}} {{car.make}} {{car.model}}</td>
                            <td>
                                <a class="btn btn-primary" ng-click="edit_car(car)"><i class="icon-edit icon-white"></i></button>
                                <a class="btn btn-warning" ng-click="del_car(car)">
                                    <i class="icon-trash icon-white"></i>
                                </button>
                            </td>
                        </tr>                 
                    </tbody>
                </table>
            </div> 


            <div ui-modal ng-model="car_modal_show" class="modal hide fade" tabindex="-1" role="dialog">
                <div class="modal-header">
                    <h4 label="newCarForm"> {{car_form_title}} </h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="span3">
                            <form class="form">
                                <label>Name</label><input type="text" ng-model="edit_car_target.name">
                                <label>year</label><input type="text" ng-model="edit_car_target.year">
                                <label>make</label><input type="text" ng-model="edit_car_target.make">
                                <label>model</label><input type="text" ng-model="edit_car_target.model">
                            </form>
                        </div>
                        <div class="span2">
                            <div class="row">
                                <img ng-show="avatar_preview" id="avatar-preview" style="padding-bottom:10px;">
                                <img ng-hide="avatar_preview" ng-src="{{avatar_url}}" style="padding-bottom:10px;">
                            </div>
                            <div class="row">
                                    <form id="avatar_form" ajax-file-form="upload_status,upload_msg,car_upload_success()" action="/garage/car_avatar/{{edit_car_target.id}}" method="POST" enctype="multipart/form-data">
                                        <div class="control-group {{upload_status}}">
                                            <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf}}"/>
                                            <div class="controls">
                                                <span class="btn btn-success fileinput-button">
                                                <i ng-class="{'icon-plus icon-white':edit_car_index<0,'icon-edit icon-white':edit_car_index>=0}"></i>
                                                <span>Avatar Pic</span><input id="avatar_upload" type="file" name="file"></span>
                                                <span class="help-inline"></span>
                                            </div>
                                        </div><div class="control-group"> 
                                            <button type="submit" class="btn btn-danger">
                                                <i class="icon-upload icon-white"></i>
                                                <span>Delete</span>
                                            </button>
                                        </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn" ng-click="save_car()">Save</button>
                    <button type="submit" class="btn" ng-click="cancel_edit_car()">Cancel</button>
                </div>
            </div>
        </div>

        <div class="row garage-pane">
            <div class="garage-pane-header"><h3>Coupons</h3></div>
            <div class="garage-pane-body">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr><th>Code</th><th>Discount</th><th>Exipiration</th><th>Uses Left</th></tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="coupon in profile.coupons">
                            <td>{{coupon.code}}</td>
                            <td>{{coupon.discount_amount | currency }}</td>
                            <td>{{coupon.expires|| "N/A"}}</td>
                            <td>{{{'false':coupon.uses_left,'true':"N/A"}[coupon.permanent]}}</td>
                        <tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div><!--/first column-->
    <div class="span6"><!--second column-->
        <div class="row garage-pane">
            <div class="garage-pane-header"><h3>Upcoming Events</h3></div>
            <div class="garage-pane-body"></div>
        <div>
    </div><!--/second column-->
</div>