{% extends "registration/base.html" %}
{% load crispy_forms_tags %}
{% load url from future %}

{% block title %} Racerslane: Reset Password {% endblock %}

{% block nav_login %}{% endblock nav_login %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="span6">
  
        {% if form.errors %}
          <p>
            {{ form.email.errors }}
          </p> 
        {% endif %}
        <p>Please specify your email address to receive instructions for resetting it.</p>  
          {%crispy form%}
      </div><!-- /span12 --> 
    </div><!-- /row --> 
    <div class="row">
      <div class="span5">
        <a href="{% url "password_reset" %}">Forgot your password?</a>
      </div>
    </div>
  </div><!-- /container -->  
{% endblock content %}