.table-striped2 tbody tr:nth-child(4n-1) td,
.table-striped2 tbody tr:nth-child(4n-1) th,
.table-striped2 tbody tr:nth-child(4n) td,
.table-striped2 tbody tr:nth-child(4n) th{
  background-color: #f9f9f9;
}

.thin {
  margin: 0;
}

.garage-pane {
    border: 2px solid #D4D4D4;
    border-radius: 4px;
    margin: 15px;
    padding: 0px;
    color: #777;
}

.garage-pane-header {
    background-color: #FAFAFA;
    border-bottom: 1px solid #D4D4D4;
    margin-bottom: 10px;
}

.garage-pane-header h3{
    margin: 0 0 0 20px;
    color: #777;
}

.garage-pane-body{
    margin: 5px;
}

.fileinput-button {
  position: relative;
  overflow: hidden;
  float: left;
  margin-right: 4px;
}

.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: translate(-300px, 0) scale(4);
  font-size: 23px;
  direction: ltr;
  cursor: pointer;
}

.tab-content {
  padding-left: 30px;
}

.lonely {
  margin-top:9px;
}