{% extends "paddock-common/base.html" %}

{% block head_css %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}fullcalendar/fullcalendar.css">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}garage/angular-ui/angular-ui.min.css">  
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}garage/angular-ui/ng-grid.css">  
  <style> 
  .typeahead {
    z-index:1051;
  }
  </style>
{% endblock head_css %}

{%block foot_js%}
  <script src="{{ STATIC_URL }}jquery.form.js"></script>

  <script src="{{ STATIC_URL }}fullcalendar/fullcalendar.min.js"></script>

  <script src="{{ STATIC_URL }}angular/tastypie-resource.js"></script>
  <script src="{{ STATIC_URL }}paddock-directives.js"></script>

  <script src="{{ STATIC_URL }}tinymce/jscripts/tiny_mce/jquery.tinymce.js"></script>
  <script src="{{ STATIC_URL }}tinymce/jscripts/tiny_mce/tiny_mce.js"></script>
  <script src="{{ STATIC_URL }}garage/angular-ui/angular-ui.min.js"></script>
  <script src="{{ STATIC_URL }}garage/angular-ui/angular-ui-ieshiv.min.js"></script>

  <script src="{{ STATIC_URL }}garage/angular-ui/ng-grid-1.6.3.js"></script>
  <script src="{{ STATIC_URL }}garage/angular-strap.js"></script>


  <script src="{{ STATIC_URL }}garage/services.js"></script>
  <script src="{{ STATIC_URL }}garage/{{js_target}}.js"></script>

  <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>



  <script>
      var STATIC_URL = {{STATIC_URL}};
      var USER_ID = {{user.pk}};
      var CLUB_ID = "{{club.pk}}";
  </script>

{%endblock foot_js%}

{% block container %}
    <div class="container" ng-app="{{js_target}}">
      {%block content%}
          <div ng-view></div>
      {%endblock content%}
    </div><!-- /container -->
{% endblock container%}