{% extends "base.html" %}
{% block title %} Racerslane: Clubs {% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="span12">
        <h1> Autocross Clubs </h1>
        <div class="tabbable tabs-left"> 
          <ul class="nav nav-tabs">
            {% for club in clubs %}
                <li
                {% if forloop.first %}
                    class="active"
                {% endif %}                      
                ><a href="#{{ club.name }}" data-toggle="tab">{{ club.name }}</a></li>
            {% endfor %}
          </ul>
          <div class="tab-content">
            {% for club in clubs %}
              <div class="tab-pane 
              {% if forloop.first %}
                  active
              {% endif %} 
              " id="{{ club.name}}">
                <p>place-holder for some event data for {{ club.name }}</p>
              </div>
            {% endfor %}  
          </div>
        </div>
      
    </div><!-- /span12 --> 
  </div><!-- /row --> 
</div><!-- /container -->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ STATIC_URL }}/jquery.js"></script>
<script src="{{ STATIC_URL }}bootstrap/js/bootstrap-tab.js"></script>
{% endblock content%}
