{% extends "paddock/base.html" %}
{% load paddock_tags %}

{% block title %} Racerslane: Clubs {% endblock %}
{% block content %}
  <div class="row">
    <div class="span12">
        <h1> Autocross Clubs </h1>
        <div class="tabbable tabs-left"> 
          <ul class="nav nav-tabs">
            {% for club in clubs %}
                <li
                {% if forloop.first %}
                    class="active"
                {% endif %}                      
                ><a href="#{{ club.safe_name }}" data-toggle="tab">{{ club.name }}</a></li>
            {% endfor %}
          </ul>
          <div class="tab-content">
            {% for club in clubs %}
              <div class="tab-pane {% if forloop.first %}active{% endif %}" id="{{ club.safe_name }}">
                <div class="span5">
                  <div class="accordion" id="accordion2">
                    {% for season in club.sorted_seasons %}
                      <div class="accordion-group">
                        <div class="accordion-heading"><h3> <a class="accordion-toggle" 
                          data-toggle="collapse" 
                          data-target="#{{ club.safe_name }}_{{ season.year }}" 
                          data-parent="#accordion2"> {{ season.year }} 
                        </a> </h3> </div>
                        <div class="accordion-body {% if forloop.first %} in {% endif %} collapse" id="{{club.safe_name}}_{{season.year}}">                     
                          <div class="accordion-inner"> 
                          {% with season.upcoming_events as u_events %}
                            {%if u_events.count %}
                              <ul class="nav nav-pills">
                                <li class="active"><a href="#{{ club.safe_name }}_{{ season.year }}_u_events" 
                                data-toggle="tab">Upcoming Events</a></li>
                                <li><a href="#{{ club.safe_name }}_{{ season.year }}_f_events" 
                                data-toggle="tab">Results</a></li>
                              </ul> <!-- close nav-pills -->
                               
                              <div class="tab-content">
                                <div class="tab-pane active" id="{{ club.safe_name }}_{{ season.year }}_u_events">
                                  {% events_table u_events %}
                                </div> <!-- close tab-pane -->
                                <div class="tab-pane" id="{{ club.safe_name }}_{{ season.year }}_f_events">
                                  {% events_table season.complete_events %}
                                </div><!-- close tab-pane -->
                              </div> <!-- close tab-content -->
                            {% else %}
                              <ul class="nav nav-pills">
                                <li class="active"><a href="#{{ club.safe_name }}_{{ season.year }}_f_events" 
                                data-toggle="tab">Results</a></li>
                              </ul> <!-- close nav-pills -->
                              
                              <div class="tab-content">
                                <div class="tab-pane active" id="{{ club.safe_name }}_{{ season.year }}_f_events">
                                  {% events_table season.complete_events %}
                                </div><!-- close tab-pane -->
                              </div> <!-- close tab-content -->
                            {% endif %}
                          {% endwith %}
                          </div> <!-- close accordion-inner -->
                        </div> <!-- close collapse -->
                      </div> <!-- close accordion-group -->
                      
                    {% endfor %}  <!-- close season loop -->
                  </div> <!-- close accordion -->  
                </div>  <!-- close span5 -->
              </div>  <!-- close tab-pane -->
            {% endfor %} <!-- close club loop -->
          </div> <!-- /nav -->
        </div> <!-- /tabbable --> 
      
    </div><!-- /span12 --> 
  </div><!-- /row --> 

{% endblock content%}
