{% extends "registration/base.html" %}
{% load paddock_tags %}

{% block title %} Racerslane: Clubs {% endblock %}
{% block content %}
  <div class="row">
    <div class="span12">
        <h1> Autocross Clubs </h1>
        <div class="tabbable tabs-left"> 
          <ul class="nav nav-tabs">
            {% for club in clubs %}
                <li
                {% if forloop.first %}
                    class="active"
                {% endif %}                      
                ><a href="#{{ club.safe_name }}" data-toggle="tab">{{ club.name }}</a></li>
            {% endfor %}
          </ul>
          <div class="tab-content">
            {% for club in clubs %}
              <div class="tab-pane {% if forloop.first %}active{% endif %}" id="{{ club.safe_name }}">
                <div class="span5">
                  {% with club.current_season as season %}
                    {% with season.upcoming_events as u_events %}
                      <h3><a href="{%url 'club_detail' club_name=club.safe_name%}">{{ club.name }}</a>: {{ season.year }} Season</h3>
                      {%if u_events.count %}
                        <h4> Upcomming Events </h4>
                        {% events_table u_events %}
                      {% else %}
                        <h4> Complete Events </h4>
                        {% events_table season.complete_events %}
                      {% endif %}
                    {% endwith %}
                  {% endwith %}  <!-- close width season -->
                </div>  <!-- close span5 -->
              </div>  <!-- close tab-pane -->
            {% endfor %} <!-- close club loop -->
          </div> <!-- /nav -->
        </div> <!-- /tabbable --> 
      
    </div><!-- /span12 --> 
  </div><!-- /row --> 

{% endblock content%}
