{% extends "registration/base.html" %}
{% load url from future %}
{% load easy_maps_tags %}
{% load paddock_tags %}

{% block title %} Racerslane: {{ club.name }} {{ event.name }} {% endblock %}

{% block head_css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}DT_bootstrap.css">
{% endblock head_css %}

{% block foot_js %}
  <script src="{{ STATIC_URL }}DataTables-1.9.1/media/js/jquery.dataTables.min.js"></script>
  <script src="{{ STATIC_URL }}DT_bootstrap.js"></script>
  <script type="text/javascript" charset="utf-8">
   /* Table initialisation */
   $(document).ready(function() {
      // 'open' an information row when a row is clicked on
   
      $('.result_row').click(function(){
        $(this).find('i').toggleClass("icon-play-circle icon-download");
        $(this).next().children().toggle();
      });   
      $('.avatar_pic').avatar_popover();
  } );
  </script>
{% endblock foot_js%}

{% block content %} 

<div class="row"> 
  <div class="span12">
      <h1> {{ club.name }} : {{ event.name }} </h1>
  </div> <!--/span12-->
</div> <!--/row-->

<div class="row">
  <div class="span6">
    <h2> Event Info:  </h2>
    <p><ul class="unstyled"> 
      <li>Date: {{ event.date }} </li>
      <li> Cost: &#36; {{ event.member_price }} (members),  
      &#36; {{ event.non_member_price }} (non-members) </li>
      <li> &#36; {{event.non_pre_pay_penalty }} extra if you don't pre-register</li>
    </ul></p>
    <h3>Event Summary</h3>
    <p><ul class="unstyled"> 
      <li>{{ reg_count }} drivers raced</li>
      <li>{{ top_pax_reg.first_name }} {{ top_pax_reg.last_name }} had the fastest index time of 
      {{ top_pax_reg.total_index_time|floatformat:3}} seconds</li>
      <li>{{ top_raw_reg.first_name }} {{ top_raw_reg.last_name }} had the fastest raw time of 
      {{ top_raw_reg.total_raw_time|floatformat:3}} seconds</li>
    </ul></p>
    
  </div> <!--/span6"-->
  <div class="span6">
      {%easy_map event.location.address 400 300 13%}
      <p>This event was held at <strong>{{ event.location.name }}</strong></p>
      <p>{{ event.location.address }}</p>
  </div><!--/span6-->
</div> <!--/row -->

<div class="row">
  <div class="span12" style="height:25px">
  </div><!--/span12-->
</div> <!--/row-->

<div class="row">
  <div class="span12">
    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#class_results" data-toggle="tab">Class Results</a></li>
        <li><a href="#pax_results" data-toggle="tab">PAX Results</a></li>
        <li><a href="#season_points" data-toggle="tab">Season Points</a></li>
      </ul><!--/nav-tabs-->
      <div class="tab-content">
        <div class="tab-pane active" id="class_results">
            {% for pax_class,reg_set in reg_sets.iteritems %}
              <h3> {{ pax_class.name|default:"Open Classes" }} </h3>
              {% if pax_class %}
                {% result_table reg_set table_class="class_results" %}
              {% else %}
                {% for race_class,class_set in reg_set.iteritems %}

                  {% result_table class_set table_class="class_results" %}
                {% endfor%}
                {# {% result_table reg_set table_class="reg_table"%} #}
              {% endif %}
            {% endfor %}  
        </div><!--/tab-pane-->
        <div class="tab-pane" id="pax_results">
            {% result_table regs table_class="pax_results" pax=1 %}
        </div><!--/tab-pane-->
        <div class="tab-pane" id="season_points">
          <div class="row">
            <div class="span6">
                <h3>Class Points</h3>
                {% for race_class,class_results in class_points %}
                  <h4> {{race_class.abrv}} </h4>
                  {% points_table class_results table_class="class_points"%}
                {% endfor %}
            </div><!--/span6-->
            <div class="span6">
                <h3>Index Points</h3>
                {% points_table index_points table_class="pax_points" pax=1 %}
            </div><!--/span6-->
          </div><!-- /row -->
        
        </div><!--/tab-pane-->
      </div><!--/tab-content-->
    </div><!--/tabbable-->
  </div> <!--/span12-->
</div><!--/row -->
{% endblock content %}