{% extends "registration/base.html" %}
{% load url from future %}
{% load crispy_forms_tags %}
{% load easy_maps_tags %}
{% load paddock_tags %}

{% block title %} Racerslane: {{ club.name }} {{ event.name }} {% endblock %}

{% block head_css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}DT_bootstrap.css">
{% endblock head_css %}


{%block foot_js%}
  {{block.super}}
  <script type="text/javascript"> 
  $(document).ready(function(){
    $("#div_id_coupon_code").hide();
    $("#id_prepay").click(function(){
      var test = $(this).attr('checked');
      if(test){
        $("#div_id_coupon_code").show();
      }
      else{
        $("#div_id_coupon_code").hide();
      }
    });
  });
  </script>
{%endblock foot_js%}

{% block content %}
<div class="row">
<div id="registration" class="span12">
  <h3>Sign up for {{ club.name }} {{ event.name }} -- {{ event.date }}</h3>
  <br/>
  <ul class="unstyled">
    <li>Member Price: &#36;{{ event.member_price }} </li>
    <li>Non-Member Price: &#36;{{ event.non_member_price }} </li>
    <li>Walk Up Fee: &#36;{{ event.non_pre_pay_penalty }} </li>
  </ul>
  <br/>
</div><!-- /span12 -->
</div><!-- /row -->

<div class="row">
<div id="registration" class="span5">

    {%crispy form%}

</div><!-- /span12 -->
</div><!-- /row -->
{% endblock content%}