{% extends "registration/base.html" %}
{% load url from future %}
{% load easy_maps_tags %}
{% load paddock_tags %}

{% block title %} Racerslane: {{ club.name }} {{ event.name }} {% endblock %}

{% block head_css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}DT_bootstrap.css">
{% endblock head_css %}

{% block foot_js %}
<script src="{{ STATIC_URL }}ember-0.9.8.1.min.js"></script>
<script src="{{ STATIC_URL }}ember-data.js"></script>
<script src="{{ STATIC_URL }}paddock.js"></script>
{% endblock foot_js %}

{% block content %}
<div class="row">
<div id="registration" class="span12">
  <h3>Sign up for {{ club.name }} {{ event.name }} -- {{ event.date }}</h3>
  <br/>
  <ul class="unstyled">
    <li>Member Price: &#36;{{ event.member_price }} </li>
    <li>Non-Member Price: &#36;{{ event.non_member_price }} </li>
    <li>Walk Up Fee: &#36;{{ event.non_pre_pay_penalty }} </li>
  </ul>
  <br/>
</div><!-- /span12 -->
</div><!-- /row -->

<div class="row">
<div id="registration" class="span3">
  <form action="{{ request.path  }}" method="post">{% csrf_token %}
    {{ form }}
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">Register</button>
    </div>
  </form>
</div><!-- /span12 -->
</div><!-- /row -->
{% endblock content%}